.app-title {
    text-align: center;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(104, 68, 0);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.app-title h1 {
    cursor: pointer;
    transition: color 0.4s ease;
}

.app-title h1:hover {
    color: #fed97a;
}

body {
    background-color: #fdf2e0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
