.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.search-bar input {
    padding: 7px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fcfaf4;
    border-color: rgba(161, 105, 0, 0.405);
}

.search-bar button {
    padding: 5px 15px;
    background-color: #fce098;
    color: rgb(104, 68, 0);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #fed97a;
}

.search-bar input:focus,
.search-bar button:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px rgba(255, 205, 77, 0.5);
}

.loading {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 30px;
    color: rgb(104, 68, 0);
  }